//-- Main --//
// bower:scss
// endbower


@import "base", "fontface";


body {
}
a {
  color: $c_primary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.header {
	background: $c_primary_dark;
	color: $c_opposite;
	padding: 0.6em 0;
	font-size: 1.2em;
	.wrapper {
		@include clearfix;
		@include display;
	}
	h1 {
		margin: 0;
		display: inline-block;
		font-size: 1em;
		font-weight: 500;
	}
	a {
		color: $c_opposite;
		display: inline-block;
		float: right;
		text-decoration: none;
		margin-left: 3em;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
.main {
	// text-align: center;
	// .wrapper {
	// 	max-width: 700px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }
}
section {
	margin: 5em auto;
	h3 {
		font-size: 2em;
	}
	h4 {
		font-size: 1.7em;
	}
	p {
		font-size: 1.1em;
	}
}
.banner {
	margin-top: 0;
	background: $c_primary_light;
	background: linear-gradient($c_primary_light, lighten($c_primary,18%));
	padding: 5em 0;
	position: relative;
	overflow: hidden;
	.cloud {
		position: absolute;
		background: url($il + 'cloud1.svg') no-repeat left 0;
		background-size: contain;
        animation: cloud 10s infinite linear;
		padding-bottom: 15%;
		&:nth-of-type(even){
			background-image: url($il + 'cloud2.svg');
		}
	}
	@for $i from 1 through 10 {
		.cloud#{$i} {
			// all of these are magic numbers
			width: 60% / $i + 10%;
			top: 90% / $i - 10%;
			opacity: random(6) / 10;
			animation-duration: 50s + random(50s);
			animation-delay: -999s / $i;
		}
	}
	h2 {
		position: relative;
		z-index: 1;
		font-size: 4em;
		margin: 0 auto;
		color: $c_primary_dark;
		text-shadow: 0 1px 0 rgba(#fff,0.4);
		strong {
			font-weight: normal;
			text-transform: uppercase;
			font-size: 2em;
			line-height: 1em;
			display: block;
			letter-spacing: 0.05em;
		}
	}
}
@keyframes cloud {
    from { transform: translateX(-50vw); }
    to { transform: translateX(100vw) }
}
blockquote {
	position: relative;
	&:before {
		content: '“';
		position: absolute;
		font-size: 300px;
		left: -130px;
		top: 110px;
		font-family: Georgia, serif;
		font-weight: normal;
		opacity: 0.15;
	}
}